$primaryColor: #696a6f;
$secondaryColor: #c5c5b7;
$tertiaryColor: #f9fdfe;

$backgroundImagePath: "./images/background.jpg";

$sectionRoundCornerSize: 30px;

$badgeSize: 100px;
$sectionBackgroundColorOpacity: 0.85;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background-color: $primaryColor;
    background-image: url($backgroundImagePath);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    font-family: 'Carrois Gothic';
}

#about {
    height: 100vh;
    min-height: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: white;

    #businessCard {
        background-color: rgba($color: black, $alpha: 0.9);
        border-radius: $sectionRoundCornerSize;
        padding-top: $sectionRoundCornerSize;
        padding-bottom: $sectionRoundCornerSize;
        padding-left: $sectionRoundCornerSize * 3;
        padding-right: $sectionRoundCornerSize * 3;

        font-size: 30pt;

        p {
            text-transform: capitalize;
            font-variant: small-caps;     
            font-weight: bold; 
        }
    }

    #socialMediaBadges {
        background-color: rgba($color: $secondaryColor, $alpha: 0.9);
        border-radius: $sectionRoundCornerSize;
        padding: $sectionRoundCornerSize;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.badgeBox {
    $imagePadding: 10px;
    $imageBackgroundColor: rgba($tertiaryColor, $sectionBackgroundColorOpacity);
    img {
        background-image: linear-gradient($imageBackgroundColor, $imageBackgroundColor);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 0% 0%;
        transition: background-size .3s;

        width: $badgeSize + $imagePadding * 2;
        height: $badgeSize + $imagePadding * 2;

        padding: $imagePadding;
        border-radius: $sectionRoundCornerSize;
    }

    img:hover {
        background-size: 100% 100%;
    }
}